body{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 2rem;
    background-color:#404EED;
    min-height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
}
.link{
    margin: 10px;
    font-size: 16px;
    color:white;
    text-decoration: none;
}